<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2>Add New Student</h2>
                <form method="POST" action="/add-student">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" name="txtName" type="text" class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="avatar">Avatar:</label>
                        <input id="avatar" name="txtAvatar" type="text" class="form-control" placeholder="Enter link avatar">
                    </div>
                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input id="link" name="txtLink" type="text" class="form-control" placeholder="Enter link profile">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>